---
import { Icon } from "astro-icon/components";

export interface Props {
  name: string;
  link: string;
}
const { name, link } = Astro.props;
---

<a href={link} target="_blank" rel="noopener noreferrer" class="group">
  <div
    class="flex h-10 w-10 flex-col justify-center rounded-lg transition-all group-hover:-translate-y-1 group-hover:scale-110"
  >
    <div class="flex flex-row justify-center">
      <Icon
        name={name}
        size={24}
        class="text-[var(--text-color-lighten)] transition-colors group-hover:text-[var(--primary-color)]"
      />
    </div>
  </div>
</a>