---
// src/components/TableOfContents.astro
import type { MarkdownHeading } from 'astro';

export interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
const filteredHeadings = headings.filter(
  (h) => h.depth >= 1 && h.depth <= 3
);
---
<div
  class="toc
         sticky top-[4rem]           
         self-start w-full
         flex flex-col
         h-[calc(100vh-4rem-4rem)]  
         p-4 rounded-xl
         bg-[var(--card-color)]"
>
  <h3 class="toc-title">Table Of Contents</h3>

  <ul
    class="toc-list
           mt-2 flex-1
           overflow-y-auto no-scrollbar
           space-y-2
           "
  >
    {filteredHeadings.map(({ depth, slug, text }) => (
      <li class={`depth-${depth}`}>
        <a href={`#${slug}`} class="toc-link">{text}</a>
      </li>
    ))}
  </ul>
</div>

<style>
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .toc { @apply p-4 rounded-xl bg-[var(--card-color)]; }
  .toc-title {
    @apply text-lg font-bold text-[var(--text-color)];
    font-family: var(--title-font);
    text-align: center;
  }
  .toc-list { @apply space-y-2; }
  .toc-link {
    @apply block text-[var(--text-color-lighten)] transition-colors;
  }
  .toc-link:hover { @apply text-[var(--primary-color)]; }
  .toc-link.active {
    @apply text-white font-bold border-l-4 border-white pl-2;
  }
  .depth-1 { @apply ml-0; }
  .depth-2 { @apply ml-2; }
  .depth-3 { @apply ml-4; }

  :global(#sidebar.bg-black) .toc {
    background: transparent;
  }
</style>