---
import Base from "./BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import Banner from "../components/Banner.astro";

import YukinaConfig from "../../yukina.config";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import defaultBanner from "../assets/images/banner.jpg";

export interface Props {
  title?: string;
  subTitle?: string;
  bannerImage?: string | ImageMetadata;
  slug?: string;
}

const props = Astro.props;
---

<Base>
  <NavBar />

  {
    YukinaConfig.bannerStyle == "LOOP" && (
      <Banner
        title={props.title}
        subTitle={props.subTitle}
        bannerImage={props.bannerImage ?? defaultBanner}
        slug={props.slug}
      />
    )
  }

  <div class="main-container mb-10">
    <div class="flex flex-row items-start lg:space-x-4">

      <div class="side-bar">
        <SideBar />
      </div>

      <div class="transition-leaving flex-1 space-y-8 min-w-0">
        <main class="content onload-animation">
          <slot />
        </main>
      </div>

    </div>
    </div>

    <Footer class="mt-8" />
  </div>
</Base>

<style>
  .main-container {
    @apply w-full md:min-w-[95%] md:max-w-[95%] lg:min-w-[90%] lg:max-w-[90%] xl:max-w-7xl;
    @apply md:mx-auto;
  }

  .side-bar {
    @apply hidden min-w-[2px] lg:block;
  }

  .content {
    @apply w-full;
  }
  /* * {
  border: 1px solid red !important;
} */
</style>